name: Check Flake

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # allows manual triggering

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check Flake
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: "rampage"
          nix-permission-edict: true

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v32
        with:
          nix_conf: |
            accept-flake-config = true

      - name: Check
        run: |
          nix flake check --all-systems
